@font-face {
    font-family: 'Gotham Pro';
    src: url('./subset-GothamPro-Lightcf033-5b8.arb-815.arb.woff2') format('woff2'),
        url('./subset-GothamPro-Lightaab04-2fc.arb-ff0.arb.woff') format('woff'),
        url('subset-GothamPro-Light2da3e.hxd/index.html') format('truetype');
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('./subset-GothamPro0d68f-2cf.arb-c62.arb.woff2') format('woff2'),
        url('./subset-GothamPro763d0-2b3.arb-59c.arb.woff') format('woff'),
        url('subset-GothamProf11fd.hxd/index.html') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('./subset-GothamPro-Mediumfb4e8-19b.arb-961.arb.woff2') format('woff2'),
        url('./subset-GothamPro-Mediumec3e7-dd5.arb-caf.arb.woff') format('woff'),
        url('subset-GothamPro-Medium15c45.hxd/index.html') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Pro';
    src: url('./subset-GothamPro-Bold1504c-374.arb-b9a.arb.woff2') format('woff2'),
        url('./subset-GothamPro-Bolddc75c-957.arb-d5e.arb.woff') format('woff'),
        url('subset-GothamPro-Boldf15e9.hxd/index.html') format('truetype');
    font-weight: 700;
    font-style: normal;
}
